@import url("https://fonts.googleapis.com/css?family=Bebas+Neue|Lobster&display=swap");
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/cards.css");
body {
	font-family: 'Lobster', cursive;
	font-size: 16px;
}

h1, h2, h3 {
	font-family: 'Bebas Neue', cursive;
	font-size: 32px;
	font-weight: bold; 
}

a {
   text-decoration: none;
}