.btn-black {
	background-color: black;
	color: white;
	padding: 15px 10px 15px 10px;
	margin-left: 10px;
	border-radius: 4px;
	font-weight: bold;
	font-family: 'Bebas Neue', cursive;
}
.btn-black: hover {
	color: white;

}